
/* ==|== primary styles ===================================================== */

body { background: url(../img/hmg_bkd.jpg) top center #fff fixed; }


/* Header
*************************************************************/
header { position: relative; z-index: 20;}
#logo { margin-top: 10px; }
#learnmore { margin-top: 100px; }


/* Navigation
*************************************************************/
nav { margin-top: 120px; }
nav li { display: inline; font-family: Arial, Helvetica; font-size: 19px; font-weight: bold; margin: 0 30px 0 0;}
nav li a { color: #000; text-decoration: none;}
nav li a:hover, nav li a.selected { color: #ed217c; }

.cufon-loading nav li { visibility: hidden !important; }

/* Content
*************************************************************/
#main {
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  min-height: 400px;
  position: relative;
  top: -33px;
  width: 100%;
  z-index: 10px;
}
#main p { font-size: 16px; margin: 0 auto 25px auto; width: 85%; }
#main .page-title { margin: 36px auto 20px auto; width: 85%; }

/* Buttons
*************************************************************/
.get-a-quote { float: right; margin: 0 22px 22px 0; }


/* Footer 
*************************************************************/
#footer { display: block; position: relative; top: -15px; }
#blog-entries,#facebook-module,#email-signup { 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	background-color: #fff; min-height: 240px;
}
#blog-entries h1 { color: #ed217c; font-size: 24px; font-weight: bold; line-height: 24px; margin:0;}
#blog-entries h2 { font-size: 24px; line-height:24px; margin:0; }
#blog-entries li { font-size: 18px; }
#blog-entries li a:hover { color: #ed217c; }
.one-third.column { width: 328px !important; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
