* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(../img/hmg_bkd.jpg) top center white fixed; }

.index .get-a-quote {
  display: none; }
.index .page-title {
  display: none; }
.index #main {
  background: transparent; }

/* slideshow
 ************************************************************ */
.slideshow {
  height: 443px;
  overflow: hidden; }
  .slideshow .slides {
    margin: 0;
    padding: 0;
    position: relative; }
    .slideshow .slides li {
      float: left;
      height: 443px;
      list-style-type: none;
      margin-bottom: 0;
      position: relative; }
      .slideshow .slides li img {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }

.numbers {
  bottom: 0;
  left: 20px;
  position: absolute;
  z-index: 10; }
  .numbers li {
    background: url("../img/sprite.png") no-repeat -4px -296px;
    color: white;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 0;
    text-align: center;
    width: 36px; }
    .numbers li.selected {
      background: url("../img/sprite.png") no-repeat -4px -249px; }

/* Header
 ************************************************************ */
header {
  position: relative;
  z-index: 20px; }

#logo {
  margin-top: 10px; }
  #logo.sprite {
    background: url("../img/sprite.png") no-repeat -1px -1px;
    width: 166px;
    height: 180px;
    text-indent: -9999px; }
    #logo.sprite a {
      display: block;
      height: 180px;
      width: 166px; }

#learnmore {
  float: right;
  margin: 100px -4px 14px 0;
  width: auto; }

/* Navigation
 ************************************************************ */
.nav-primary {
  margin-top: 116px; }
  .nav-primary li, .nav-primary #nav-menu-button {
    display: inline;
    font-family: Arial, Helvetica;
    font-size: 19px;
    font-weight: bold;
    margin: 0 30px 0 0;
    text-transform: uppercase; }
    .nav-primary li.active a, .nav-primary #nav-menu-button.active a {
      color: #ed217c; }
    .nav-primary li a, .nav-primary #nav-menu-button a {
      color: black;
      text-decoration: none; }
      .nav-primary li a:hover, .nav-primary #nav-menu-button a:hover {
        color: #ed217c; }

#nav-menu-button {
  display: none; }
  #nav-menu-button a:hover {
    color: #ed217c; }

/* Nav persistent
 ***************************** */
.fixed.open #header {
  height: 228px; }
.fixed #header {
  background-color: #f6f6f6;
  height: 68px;
  /* border */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* shadow */
  -webkit-box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.1);
  border: 1px solid #4dbdef;
  margin-left: 10px !important;
  position: fixed;
  top: -10px;
  width: 1024px !important; }
  .fixed #header .nav-primary {
    margin: 30px 50px 0 43px; }
  .fixed #header #learnmore {
    margin: 14px 5px; }
  .fixed #header #logo.sprite {
    background-position: -3px -564px;
    margin: 15px 0 0 10px;
    height: 46px;
    width: 112px; }
.fixed #main {
  top: 55px; }
.fixed #footer {
  top: 70px; }

.cufon-loading nav li {
  visibility: hidden !important; }

/* Content
 ************************************************************ */
#view-content {
  min-height: 300px;
  padding: 0 20px; }

#main {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  min-height: 400px;
  position: relative;
  top: -31px;
  width: 100%;
  z-index: 10px; }
  #main p {
    font-size: 16px;
    margin: 0 auto 25px auto;
    width: 85%; }
  #main .page-title {
    margin: 24px auto 20px auto;
    width: 86%; }
  #main .get-a-quote {
    clear: both;
    float: right;
    margin: 0 22px 22px 0; }

/* Buttons
 ************************************************************ */
button {
  background-color: #ed217c;
  color: white;
  font-size: 14px;
  text-transform: uppercase; }
  button:hover, button input[type="submit"]:hover, button #button-submit:hover {
    color: black !important; }

/* Footer
 ************************************************************ */
#footer {
  display: block;
  position: relative;
  top: -15px; }

#blog-entries, #facebook-module, #email-signup {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  min-height: 270px; }

#blog-entries ul {
  margin-bottom: 15px; }
#blog-entries hgroup {
  padding: 10px 15px 0; }
#blog-entries h1 {
  color: #ed217c;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 -8px 0; }
#blog-entries h2 {
  font-size: 24px;
  line-height: 24px;
  margin: 0; }
#blog-entries li {
  background: url(../img/arrow-right.png) no-repeat center right;
  border-bottom: 1px dashed #d4d4d4;
  font-size: 18px;
  margin: 0 15px;
  padding: 8px 0; }
  #blog-entries li a:hover {
    color: #ed217c; }
  #blog-entries li a span {
    float: right;
    width: 9px;
    height: 9px; }

#facebook-module div {
  margin: 5px; }

#email-signup {
  background: white url(../img/newsletter-background.jpg) no-repeat top left; }
  #email-signup form {
    padding: 0 25px 0 18px; }
  #email-signup input[type="text"] {
    background-color: #e3e3e3;
    width: 200px; }
  #email-signup #email-set {
    margin-top: 105px;
    margin-bottom: 5px; }
    #email-signup #email-set label {
      float: left;
      font-size: 14px;
      font-weight: normal; }
    #email-signup #email-set input {
      float: right;
      margin-bottom: 0;
      padding: 3px; }
    #email-signup #email-set #name-set {
      margin-bottom: 5px; }
      #email-signup #email-set #name-set label {
        float: left;
        font-size: 14px;
        font-weight: normal; }
      #email-signup #email-set #name-set input {
        float: right;
        margin-bottom: 0;
        padding: 3px; }
  #email-signup #gender-set {
    margin-bottom: 0; }
    #email-signup #gender-set label {
      float: left;
      font-size: 14px;
      font-weight: normal;
      margin-right: 26px; }
    #email-signup #gender-set label[for="female-radio"] {
      clear: both; }
    #email-signup #gender-set span {
      font-size: 12px; }

#email-signup button {
  float: right; }

.radio-container {
  float: left; }

.one-third.column {
  width: 328px !important; }

input[type="radio"] {
  background: url(../img/sprite.png) no-repeat -12px -342px;
  height: 14px;
  outline: 0;
  width: 14px; }

#copyright {
  font-size: 12px;
  font-style: italic;
  padding: 10px; }

#detail {
  border-bottom: 1px dashed #d4d4d4;
  color: #666666;
  font-size: 12px;
  padding: 10px; }
  #detail strong {
    color: #666666; }

#footer-logo {
  background: url("../img/sprite.png") no-repeat -1px -438px;
  margin-top: 10px;
  width: 105px;
  height: 108px; }

.nav-secondary {
  padding-top: 10px; }
  .nav-secondary li {
    margin-bottom: 0; }
    .nav-secondary li a {
      color: #666666;
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      text-transform: uppercase; }

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }
  .ir br {
    display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/* ==|== print styles ======================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Work
 ************************************************************ */
.work #view-content {
  padding-right: 0; }

#work-nav {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 190px;
  top: 27px; }
  #work-nav li {
    border-left: 1px solid #333333;
    display: inline;
    float: left;
    padding: 0 12px; }
    #work-nav li:first-child {
      border-left: none; }
  #work-nav a:hover {
    color: #ed217c; }
  #work-nav .active {
    color: #ed217c;
    text-decoration: underline; }

.work .thumbs {
  clear: both; }
  .work .thumbs a {
    color: white;
    display: block;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    text-align: center;
    text-decoration: none; }
  .work .thumbs li {
    float: left;
    height: 235px;
    width: 317px;
    margin-right: 14px;
    margin-bottom: 14px; }
    .work .thumbs li:hover {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #ed217c;
      cursor: pointer; }
      .work .thumbs li:hover a {
        color: #ed217c;
        margin-top: -1px; }

#template-work-overlay {
  display: none; }

#work-overlay {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99; }
  #work-overlay #bg {
    background-color: white;
    border-bottom: 1px solid #57b7f6;
    border-top: 1px solid #57b7f6;
    margin-top: 100px;
    min-height: 650px;
    -webkit-box-shadow: 1px 1px 25px 1px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 1px 1px 25px 1px rgba(204, 204, 204, 0.5);
    -o-box-shadow: 1px 1px 25px 1px rgba(204, 204, 204, 0.5);
    box-shadow: 1px 1px 25px 1px rgba(204, 204, 204, 0.5); }
  #work-overlay #work-content {
    margin: 0 auto;
    width: 1110px; }
    #work-overlay #work-content #description {
      font-size: 18px;
      margin: 0 0 20px 0; }
    #work-overlay #work-content #nav-work {
      display: inline-block;
      text-transform: uppercase;
      width: 100%; }
      #work-overlay #work-content #nav-work #divider {
        color: #ed217c;
        font-size: 10px;
        margin-top: 6px; }
      #work-overlay #work-content #nav-work #close-work {
        border-left: 1px solid #57b7f6; }
      #work-overlay #work-content #nav-work ul {
        border: 1px solid #57b7f6;
        border-top: none;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        float: right;
        margin: 0;
        padding: 0; }
        #work-overlay #work-content #nav-work ul li {
          float: left;
          margin: 0; }
          #work-overlay #work-content #nav-work ul li #prev {
            padding-left: 7px; }
          #work-overlay #work-content #nav-work ul li a {
            color: #ed217c;
            display: block;
            font-size: 12px;
            padding: 7px 13px;
            text-transform: uppercase;
            text-decoration: none; }
            #work-overlay #work-content #nav-work ul li a .arrow {
              margin: 0 2px -1px 2px; }
    #work-overlay #work-content #services li {
      margin-bottom: 0; }
    #work-overlay #work-content h2 {
      font-family: Arial, Helvetica;
      margin-top: 30px; }
    #work-overlay #work-content p {
      line-height: 1.25em;
      margin: 0 0 10px 0; }
  #work-overlay #pic-main {
    float: left;
    margin: 0 30px 0 0; }
  #work-overlay #close {
    cursor: pointer;
    font-size: 18px !important; }
  #work-overlay #project-thumbs {
    display: inline-block;
    width: 300px; }
    #work-overlay #project-thumbs li {
      float: left;
      margin-bottom: 2px;
      margin-right: 5px; }
